/* .App {
  font-family: sans-serif;
  text-align: center;
} */

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 33vw;
  height: 33vh;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}
